*{
    position: relative;
}
body{
    background-color: #333333;
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar{
    box-sizing: border-box;
    position: absolute;
    width: 1687px;
    height: 63px;
    left: 19px;
    top: 18px;
    border: 1px solid #B1A592;
    border-radius: 50px;
    
    padding: 6px 7px;

}
.navbar{
    position: relative;
}
.drop-down{
    position: absolute;
    top: 6px;
    left: 300px;
    
}
.drop-down nav{
  
}
.left-navbar{
    position: relative;
    top: 10px;
    text-decoration: none;
}
.navbar .btn{
    height: 50px;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    background-color: #333333;
}
.Company{
    width: 282px;
    background-color: #323025 !important;
    border: none;
    padding: 11px 0px 10px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
 .Collections{
    width: 236px;
    background-color: #B1A592 !important;
    padding: 11px 55px 10px;
    border: none;
    color: black !important;
}
.Our{
    box-sizing: border-box;
    width: 207px;
    border: 1px solid #B1A592;
    padding: 11px 71px 10px 72px;
}
.Events {
    width: 184px;
    box-sizing: border-box;
    border: 1px solid #B1A592;
    padding: 11px 54px 10px 53px;
}
.Contact{
    width: 184px;
    box-sizing: border-box;
    border: 1px solid #B1A592;
    padding: 11px 40px 10px 53px;
    position: absolute;
    left: 1193px;
    top: 0px;
}
.drop-down .btn:hover{
    background-color: #fff !important;
    color: black;
}

/* main section */
.container{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Card deck 1 */
.container .card1{
    position: absolute;
    width: 667px;
    height: 981px;
    left: 35px;
    top: 99px;

    background: #DFD6C5;
    border-radius: 30px;
}
.card1{
    position: relative;
}
/* LOREMIPSUM */
.card1 button{
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 207px;
    height: 34px;
    left: 18px;
    top: 33px;
    background-color: inherit;
    border: 1px solid #323025;
    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
    color: #323025;
    padding: 5px 0px 5px 0px;
}

/* heading */
.card1 h2{

    position: absolute;
    width: 271px;
    height: 29px;
    left: 18px;
    top: 77px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    /* text-decoration-line: underline; */

    color: #333333;

}


/* image */
.card1 figure{
    position: absolute;
    width: 631px;
    height: 730px;
    left: 18px;
    top: 125px;   
    border-radius: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.card1 .line{
    position: absolute;
    width: 666px;
    height: 0px;
    left: 0;
    top: 890px;
    
    border: 1px solid #333333;
}
.card1 .Get_Started{
    position: absolute;
    width: 133px;
    height: 29px;
    left: 22px;
    top: 909px;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #333333;
}
.card1 .arrow1{

    position: absolute;
    width: 25px;
    height: 0px;
    left: 624px;
    top: 924px;
    
}

/* card 1 animaton */
.card1 img {
	transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card1:hover img {
	transform: scale(1.1);
}

/* Card deck 2 */
.container .card2{
    position: absolute;
    width: 967px;
    height: 356px;
    left: 719px;
    top: 99px;

    background: #8E886D;
    border-radius: 30px;
}
.card2{
    position: relative;
}
/* LOREMIPSUM */
.card2 button{
    box-sizing: border-box;

    position: absolute;
    width: 207px;
    height: 34px;
    left: 18px;
    top: 33px;
    background-color: inherit;
    border: 1px solid #323025;
    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
    color: #323025;
    padding: 5px 30px 5px 31px;
}

/* heading */
.card2 h2{

    position: absolute;
    width: 271px;
    height: 29px;
    left: 18px;
    top: 77px;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    /* text-decoration-line: underline; */

    color: #333333;

}
.card2 p{
    position: absolute;
    width: 382px;
    height: 72px;
    left: 19px;
    top: 129px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #333333;    
}
/* image */
.card2 figure{
    position: absolute;
    width: 523px;
    height: 235px;
    left: 415px;
    top: 33px;   
    border-radius: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.card2 .line{
    position: absolute;
    width: 967px;
    height: 0px;
    left: 0;
    top: 291px;
    
    border: 1px solid #333333;
}
.card2 .Get_Started{
    position: absolute;
    width: 194px;
    height: 29px;
    left: 30px;
    top: 310px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #333333;
}
.card2 .arrow1{

    position: absolute;
    width: 36px;
    height: 0px;
    left: 905px;
    top: 325px;
    margin: 0;
}
/* card 2 animaton */
.card2 img {
	transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card2:hover img {
	transform: scale(1.1);
}

/* Card deck 3 */
.container .card3{
    position: absolute;
    width: 405px;
    height: 597px;
    left: 729px;
    top: 480px;
    
    background: #916E58;
    border-radius: 30px;    
}
.card3{
    position: relative;
}
/* image */
.card3 figure{
    position: absolute;
    width: 385px;
    height: 168px;
    left: 7px;
    top: 12px;   
    border-radius: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* heading */
.card3 h2{

    position: absolute;
    width: 304px;
    height: 59px;
    left: 20px;
    top: 198px;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #333333;

}
.card3 p{
    position: absolute;
    width: 382px;
    height: 216px;
    left: 9px;
    top: 267px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #333333;    
}

.card3 .line{
    position: absolute;
    width: 404.39px;
    height: 0px;
    left: 0;
    top: 509px;
    
    border: 1px solid #333333;
}
.card3 .Get_Started{
    position: absolute;
    width: 184px;
    height: 29px;
    left: 15px;
    top: 534px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #333333;
}
.card3 .arrow1{

    position: absolute;
    width: 15.18px;
    height: 0px;
    left: 377px;
    top: 551px;
    margin: 0;
}
/* card 3 animaton */
.card3 img {
	transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card3:hover img {
	transform: scale(1.1);
    
}
.card3:hover h2{
    text-decoration-line: underline;
}
/* Card deck 4 */
.container .card4{
    position: absolute;
    width: 525px;
    height: 597px;
    left: 1161px;
    top: 480px;
    
    background: #B1A48E;
    border-radius: 30px;
}
.card4{
    position: relative;
}
/* LOREMIPSUM */
.card4 button{
    box-sizing: border-box;

    position: absolute;
    width: 207px;
    height: 35px;
    left: 18px;
    top: 50px;
    background-color: inherit;
    border: 1px solid #323025;
    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
    color: #323025;
    padding: 5px 30px 5px 31px;
}
/* image */
.card4 figure{
    position: absolute;
    width: 113px;
    height: 113px;
    left: 378px;
    top: 53px;   
    border-radius: 30000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* heading */
.card4 h2{

    position: absolute;
    width: 304px;
    height: 59px;
    left: 31px;
    top: 121px;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    /* text-decoration-line: underline; */

    color: #333333;

}
.card4 p{
    position: absolute;
    width: 485px;
    height: 312px;
    left: 29px;
    top: 184px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #333333;    
}
.card4 .card-bottom{
    position: absolute;
    width: 485px;
    height: 312px;
    left: 29px;
    top: 400px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #333333;    
}
.card4 .line{
    position: absolute;
    width: 525px;
    height: 0px;
    left: 0;
    top: 509px;
    
    border: 1px solid #333333;
}
.card4 .Get_Started{
    position: absolute;
    width: 239px;
    height: 29px;
    left: 18px;
    top: 534px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #333333;
}
.card4 .arrow1{

    position: absolute;
    width: 20px;
    height: 0px;
    left: 488px;
    top: 551px;
    margin: 0;
    padding: 0;
    transition: left 0.3s ease-in-out;
}
/* card 4 animaton */
.card4 img {
	transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.card4:hover img {
	transform: scale(1.1);
}
.card4:hover .arrow1{
    transform: scaleX(1);
    animation: lineH 5s 2s infinite linear;
}

.card4 .card-bottom{
    position: absolute;
    top: 400px;
    
}
.card4 .card-bottom h5{
    display: inline;
}

.line2,  .line3{
    height: 0px;
    border: 1px solid #333333;
   
}

/* @media screen and (min-width:481px)  and (max-width:768px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        background-color: lightgreen;
        color: green;
    }
    .col{
        width: 20%;
    }
    
} */

/* menu */
input[type="checkbox"] {
    display: none;
} 
.checkbtn {
    width: 184px;
    box-sizing: border-box;
    border: 1px solid #B1A592;
    padding: 11px 54px 10px 53px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    background-color: #333333;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
    user-select: none;
}

@media screen and (min-width:420px)  and (max-width:768px){
    .navbar{
        width: 768px;
    }
    .checkbtn{
        display: block;
        position: absolute;
        top: 6px;
        right: 18px;
    }
    .left-navbar , .Contact{
       display: none;
    }
    .checkbtn .btn:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
}
    .left-navbar a{
        display: block;
    }
    #check:checked ~ .drop-down{
        display: block;
    }


}
@media screen and (max-width: 768px) {
    .card1{
        position: absolute;
      width: 10%;
      width: 768px;
      display: block;
    }
  }
  @media screen and (max-width: 480px) {
    .card1 {
      width: 100%;
    }
  }